/**
 * 这里是uni-app内置的常用样式变量
 */

$gap: 30rpx;
$mgap: 30rpx;
$theme: rgba(18,150,219,1);
$border: #eee;
$bg: #fefefe;
$font: 28rpx;
$green: rgba(103, 194, 58, 1);
$green_bg: rgba(103, 194, 58, 0.2);
$orange: rgba(255, 102, 0, 1);
$orange_bg: rgba(255, 102, 0, 0.2);

$blue_bg: rgba(18,150,219, 0.2);
$gray: #eee;

@mixin abs-center {
    top:0;bottom:0;margin-top:auto;margin-bottom:auto;
}
@mixin top-center {
    transform: translateY(-50%); top: 50%;
}

@mixin line($width) {
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$width; 
}

@mixin graybg{
    box-shadow: -10rpx 0 10rpx rgba(0, 0, 0, 0.05) inset; background: $bg;
}

@mixin gray-shadow{
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
}   